doc/dcat-ap-hvd/xsd/hvd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="LicenceDocument" type="LicenceDocumentType"/>
  <xs:element name="TemporalLiteral" type="TemporalLiteralType"/>
  <xs:element name="Xsddecimal" type="XsddecimalType"/>
  <xs:element name="Xsdduration" type="XsddurationType"/>
  <xs:element name="XsdhexBinary" type="XsdhexBinaryType"/>
  <xs:element name="TimeInstant" type="TimeInstantType"/>
  <xs:element name="Catalogue" type="CatalogueType"/>
  <xs:element name="CatalogueRecord" type="CatalogueRecordType"/>
  <xs:element name="DataService" type="DataServiceType"/>
  <xs:element name="Dataset" type="DatasetType"/>
  <xs:element name="Distribution" type="DistributionType"/>
  <xs:element name="CataloguedResource" type="CataloguedResourceType"/>
  <xs:element name="Activity" type="ActivityType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LicenceDocumentType">
    <xs:sequence>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A type of licence, e.g. indicating public domain or royalties required.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LicenceDocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LicenceDocument ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TemporalLiteralType">
    <xs:sequence/>
    <xs:attribute name="TemporalLiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TemporalLiteral ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XsddecimalType">
    <xs:sequence/>
    <xs:attribute name="XsddecimalRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Xsddecimal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XsddurationType">
    <xs:sequence/>
    <xs:attribute name="XsddurationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Xsdduration ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XsdhexBinaryType">
    <xs:sequence/>
    <xs:attribute name="XsdhexBinaryRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to XsdhexBinary ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TimeInstantType">
    <xs:sequence/>
    <xs:attribute name="TimeInstantRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TimeInstant ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogueType">
    <xs:sequence>
      <xs:element name="dataset" ref="DatasetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Dataset that is part of the Catalogue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="record" ref="CatalogueRecordType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Catalogue Record that is part of the Catalogue</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="service" ref="DataServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A site or end-point (Data Service) that is listed in the Catalogue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="licence" ref="LicenceDocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A licence under which the Catalogue can be used or reused.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" ref="AgentType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An entity (organisation) responsible for making the Catalogue available.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CatalogueRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Catalogue ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogueRecordType">
    <xs:sequence>
      <xs:element name="primaryTopic" ref="CataloguedResourceType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A link to the Dataset, Data service or Catalog described in the record.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CatalogueRecordRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CatalogueRecord ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DataServiceType">
    <xs:sequence>
      <xs:element name="endpointDescription" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the services available via the end-points, including their operations, parameters etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endpointUrl" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The root location or primary endpoint of the service (an IRI).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="servesDataset" ref="DatasetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property refers to a collection of data that this data service can distribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accessRights" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information regarding access or restrictions based on privacy, security, or other policies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A free-text account of the Data Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="format" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The structure that can be returned by querying the endpointURL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="licence" ref="LicenceDocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A licence under which the Data service is made available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Data Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DataServiceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to DataService ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DatasetType">
    <xs:sequence>
      <xs:element name="otherIdentifier" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A secondary identifier of the Dataset, such as MAST/ADS17, DataCite18, DOI19, EZID20 or W3ID21.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sample" ref="DistributionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A sample distribution of the dataset</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactPoint" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contact information that can be used for sending comments about the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="datasetDistribution" ref="DistributionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An available Distribution for the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accessRights" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information that indicates whether the Dataset is open data, has access restrictions or is not public.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="conformsTo" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An implementing rule or other specification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" ref="AgentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An entity (organisation) responsible for making the Dataset available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A type of the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DatasetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Dataset ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DistributionType">
    <xs:sequence>
      <xs:element name="accessService" ref="DataServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A data service that gives access to the distribution of the dataset</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accessUrl" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A URL that gives access to a Distribution of the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="linkedSchemas" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An established schema to which the described Distribution conforms.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="licence" ref="LicenceDocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A licence under which the Distribution is made available.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DistributionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Distribution ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CataloguedResourceType">
    <xs:sequence/>
    <xs:attribute name="CataloguedResourceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CataloguedResource ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ActivityType">
    <xs:sequence/>
    <xs:attribute name="ActivityRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Activity ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A type of the agent that makes the Catalogue or Dataset available</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name of the agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>