OOTS/EvidenceOfCertificateAdmissionSecondaryEducation/0.0.1/xsd/evidenceofcertificateadmissionsecondaryeducation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Evidence" type="EvidenceType"/>
  <xs:element name="GenericDate" type="GenericDateType"/>
  <xs:element name="Admission" type="AdmissionType"/>
  <xs:element name="Attribute" type="AttributeType"/>
  <xs:element name="AttributeSet" type="AttributeSetType"/>
  <xs:element name="EvidenceOfCertificateOfAdmissionToSecondaryEducationInstitution" type="EvidenceOfCertificateOfAdmissionToSecondaryEducationInstitutionType"/>
  <xs:element name="OotsEvidence" type="OotsEvidenceType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="Person" type="PersonType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EvidenceType">
    <xs:sequence/>
    <xs:attribute name="EvidenceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Evidence ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GenericDateType">
    <xs:sequence/>
    <xs:attribute name="GenericDateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to GenericDate ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AdmissionType">
    <xs:sequence>
      <xs:element name="durationOfPursuedStudies" type="xs:duration" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A duration.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nameOfTheSecondaryEducationInstitution" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name under which the Legal Entity is legally registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nameOfTheStudyProgrammeToWhichTheAdmissionRefers" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An opportunity to realise a given set of learning outcomes via a learning activity and/or assessment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateOfAcademicYear" type="http://data.europa.eu/m8g/GenericDate" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date until when the activities take/took place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAttributeSet" ref="AttributeSetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a concept to the AttributeSet that provides its additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDateOfTheAcademicYear" type="http://data.europa.eu/m8g/GenericDate" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date since when the activities take place. If not specified it is undefined (not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AdmissionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Admission ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:sequence/>
    <xs:attribute name="AttributeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Attribute ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AttributeSetType">
    <xs:sequence>
      <xs:element name="hasAttribute" ref="AttributeType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The optional property that provides additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AttributeSetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AttributeSet ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EvidenceOfCertificateOfAdmissionToSecondaryEducationInstitutionType">
    <xs:sequence>
      <xs:element name="hasBirth" ref="AdmissionType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Birth event that is the object in the provided Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isAbout" ref="PersonType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent that is the subject in the provided Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EvidenceOfCertificateOfAdmissionToSecondaryEducationInstitutionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to EvidenceOfCertificateOfAdmissionToSecondaryEducationInstitution ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OotsEvidenceType">
    <xs:sequence>
      <xs:element name="hasAttributeSet" ref="AttributeSetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a concept to the AttributeSet that provides its additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OotsEvidenceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to OotsEvidence ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="familyName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The hereditary surname of a family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name(s) that identify the Person within a family with a common surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAttributeSet" ref="AttributeSetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a concept to the AttributeSet that provides its additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PersonRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Person ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>