Core-Person-Vocabulary/releases/2.1.1/xsd/core-person-ap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="GenericDate" type="GenericDateType"/>
  <xs:element name="Jurisdiction" type="JurisdictionType"/>
  <xs:element name="Location" type="LocationType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Uri" type="UriType"/>
  <xs:element name="Date" type="DateType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="Identifier" type="IdentifierType"/>
  <xs:element name="Address" type="AddressType"/>
  <xs:element name="Person" type="PersonType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="ContactPage" type="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A web page that could be used to reach out the Contact Point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasEmail" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasTelephone" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A telephone number through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GenericDateType">
    <xs:sequence/>
    <xs:attribute name="GenericDateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to GenericDate ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="JurisdictionType">
    <xs:sequence>
      <xs:element name="Id" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A reference in the form of a Uniform Resource Identifier to the Jurisdiction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A string of characters that represents a Jurisdiction.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The name is simply a string that identifies the Jurisdiction, typically a country, with or without a language tag.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="JurisdictionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Jurisdiction ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence>
      <xs:element name="GeographicIdentifier" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A reference in the form of a Uniform Resource Identifier to the Location.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">GeoNames.org provides stable, widely recognised identifiers for more than 10 million geographical names that can be used as links to further information. For example, http://sws.geonames.org/593116/ identifies the Lithuanian capital Vilnius. Unfortunately these URIs cannot easily be automatically deduced since the URI scheme uses simple numeric codes. Finding a GeoNames identifier for a Location is almost always a manual process. Where such identifiers are known or can be found, however, it is recommended that they be used.
Where the Location Class is used to identify a country, if the geonames URI is not known, the recommendation is to use DBpedia URIs of the form http://dbpedia.org/resource/ISO\_3166-1:XX where XX is the ISO 3166 two character code for the country.
&lt;br/&gt;&lt;br/&gt;
The EU's Publication Office diverges from ISO 3166-1 and uses EL and UK for Greece and the United Kingdom respectively. DBpedia sticks to the ISO codes and so the correct URIs for these countries are:
- http://dbpedia.org/resource/ISO\_3166-1:GR
- http://dbpedia.org/resource/ISO\_3166-1:GB
even when the geographic name is given as EL or UK.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GeographicName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A textual description for a Location.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The &lt;a href="https://knowledge-base.inspire.ec.europa.eu/geographical-names_en"&gt;INSPIRE Data Specification on Geographical Names&lt;/a&gt; provides a detailed model for describing a 'named place', including methods for providing multiple names in multiple scripts. INSPIRE's definition is the following: Names of areas, regions, localities, cities, suburbs, towns or settlements, or any geographical or topographical feature of public or historical interest. This is beyond what is necessary for the Core Location Vocabulary but, importantly, the concept of a geographic name used here is consistent.
&lt;br/&gt;&lt;br/&gt;
A geographic name is a proper noun applied to a spatial object. Taking the example used in the &lt;a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-geographical-names-technical-guidelines_en"&gt;INSPIRE document&lt;/a&gt; (page 18), the following are all valid geographic names for the Greek capital:
- "A&theta;n&nu;a"@gr-Grek (the Greek endonym written in the Greek script)
- "Athína"@gr-Latn (the standard Romanisation of the endonym)
- "Athens"@en (the English language exonym)
INSPIRE has a detailed (XML-based) method of providing metadata about a geographic name and in XML-data sets that may be the most appropriate method to follow. When using the Core Location Vocabulary in data sets that are not focussed on environmental/geographical data (the use case for INSPIRE), the Code datatype or a simple language identifier may be used to provide such metadata.
&lt;br/&gt;&lt;br/&gt;
The country codes defined in &lt;a href="https://www.iso.org/iso-3166-country-codes.html"&gt;ISO 3166&lt;/a&gt; may be used as geographic names and these are generally preferred over either the long form or short form of a country's name (as they are less error prone). The Publications Office of the European Union recommends the use of ISO 3166-1 codes for countries in all cases except two:
- use 'UK' in preference to the ISO 3166 code GB for the United Kingdom;
- use 'EL' in preference to the ISO 3166 code GR for Greece.
Where a country has changed its name or no longer exists (such as Czechoslovakia, Yugoslavia etc.) use the ISO 3166-3 code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LocationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Location ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="UriType">
    <xs:sequence/>
    <xs:attribute name="UriRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Uri ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:sequence/>
    <xs:attribute name="DateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Date ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierType">
    <xs:sequence>
      <xs:element name="DateOfIssue" type="xs:date" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The date on which the Identifier was assigned.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifies" type="PersonType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The entity that is referenced by the Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuingAuthorityName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of the agency responsible for issuing the Identifier.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Example: "Federal Public Service Interior"@en.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuingAuthorityUri" type="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The reference in the form of a Uniform Resource Identifier to the issuing authority.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Example: "https://belgium.be/id/organizations/1233".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Notation" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A string of characters to uniquely identify a concept.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Example: "abc-12345-de"^^https://belgium.be/scheme/nationalIDnumber.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchemeName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Name of the scheme used to construct the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchemeUri" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">URI of the scheme used to construct the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IdentifierRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Identifier ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="AddressArea" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of a geographic area that groups Addresses.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This would typically be part of a city, a neighbourhood or village, e.g. Montmartre. Address area is not an administrative unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressId" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A globally unique identifier for each instance of an Address.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The concept of adding a globally unique identifier for each instance of an address is a crucial part of the INSPIRE data spec. A number of EU countries have already implemented an ID (a UUID) in their Address Register/gazetteer, among them Denmark. OASIS xAL also includes an address identifier. It is the address Identifier that allows an address to be represented in a format other than INSPIRE whilst remaining conformant to the Core Vocabulary.
&lt;br/&gt;&lt;br/&gt;
The INSPIRE method of representing addresses is very detailed, designed primarily for use in databases of addresses. Whilst data that is published in full conformance with the INSPIRE data structure can be made available using the Core  Location Vocabulary the reverse is not true since the Core Vocabulary allows much greater flexibility.
&lt;br/&gt;&lt;br/&gt;
Many datasets that include address data as one piece of information about something else are likely to have that data in simpler formats. These might be tailored to the specific need of the dataset, follow a national norm, or make use of a standard like vCard.
&lt;br/&gt;&lt;br/&gt;
To provide maximum flexibility in the Core Vocabulary, whilst remaining interoperable with INSPIRE Address Guidelines (which EU Member States are obliged to use), the  Core Location Vocabulary provides the extra property of full address and makes use of INSPIRE's addressID.

</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrativeUnitLevel1" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of the uppermost level of the address, almost always a country.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Best practice is to use the ISO 3166-1 code but if this is inappropriate for the context, country names should be provided in a consistent manner to reduce ambiguity. For example, either write 'France' or 'FRA' consistently throughout the dataset and avoid mixing the two. The &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/country"&gt;Country controlled vocabulary&lt;/a&gt; from the Publications Office can be reused for this.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrativeUnitLevel2" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of a secondary level/region of the address, usually a county, state or other such area that typically encompasses several localities.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Values could be a region or province, more granular than level 1.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddress" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The complete address written as a string.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Use of this property is recommended as it will not suffer any misunderstandings that might arise through the breaking up of an address into its component parts. This property is analogous to vCard's label property but with two important differences: (1) formatting is not assumed so that, unlike vCard label, it may not be suitable to print this on an address label, (2) vCard's label property has a domain of vCard Address; the fullAddress property has no such restriction. An example of a full address is "Champ de Mars, 5 Avenue Anatole France, 75007 Paris, France".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocatorDesignator" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A number or sequence of characters that uniquely identifies the locator within the relevant scope.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">In simpler terms, this is the building number, apartment number, etc. For an address such as "Flat 3, 17 Bridge Street", the locator is "flat 3, 17".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocatorName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#usage">The locator name could be the name of the property or complex, of the building or part of the building, or it could be the name of a room inside a building.
&lt;br/&gt;&lt;br/&gt;
The key difference between a locator designator and a locator name is that the latter is a proper name and is unlikely to include digits. For example, "Shumann, Berlaymont" is a meeting room within the European Commission headquarters for which locator name is more appropriate than locator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostOfficeBox" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A location designator for a postal delivery point at a post office, usually a number.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">INSPIRE's name for this is "postalDeliveryIdentifier" for which it uses the locator designator property with a type attribute of that name. This vocabulary separates out the Post Office Box for greater independence of technology. An example post office box number is "9383".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The code created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Post codes are common elements in many countries' postal address systems. One of the many post codes of Paris is for example "75000".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A name created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Usually a city, for example "Paris".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Thoroughfare" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of a passage or way through from one location to another.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">A thoroughfare is usually a street, but it might be a waterway or some other feature. For example, "Avenue des Champs-Élysées".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AddressRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Address ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="conceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="AlternativeName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Any name by which a Person is known, other than their full name.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Many individuals use a short form of their name, a 'middle' name as a 'first' name or a professional name. For example, the British politician and former UN High Representative for Bosnia and Herzegovina, Jeremy John Durham Ashdown, Baron Ashdown of Norton-sub-Hamdon, is usually referred to simply as 'Paddy Ashdown' or 'Lord Ashdown.' It is not the role of the alternative name property to record nick names, pet names or other 'familiar names' that will be of no consequence in public sector data exchange. Furthermore, some individuals have more than one legal name in which case the full name property should be used multiple times. Alternative name gives a means of recording names by which an individual is generally known, or professionally known, even though such names are no more than secondary from a legal point of view.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Full name of the Person given upon their birth.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The birth name may apply to the surname, the given name, or the entire name. Where births are required to be officially registered, the entire name entered onto a births register or birth certificate may by that fact alone become the person's legal name. See &lt;a href="https://en.wikipedia.org/wiki/Birth_name"&gt; Wikipedia Birth name page&lt;/a&gt;.

All data associated with an individual are subject to change. Names can change for a variety of reasons, either formally or informally, and new information may come to light that means that a correction or clarification can be made to an existing record. Birth names tend to be persistent however and for this reason they are recorded by some public sector information systems. There is no granularity for birth name - the full name should be recorded in a single field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Citizenship" type="JurisdictionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Jurisdiction that has conferred citizenship rights on the Person such as the right to vote, to receive certain protection from the community or the issuance of a passport.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Citizenship is a relationship between an individual and a state to which the individual owes allegiance and in turn is entitled to its protection.

Citizenship is information needed by many cross-border use cases and is a legal status as opposed to the more culturally-focussed and less well-defined term "nationality". A Person has one, multiple or even no citizenship status. Multiple citizenships are recorded as multiple instances of the citizenship relationship.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactPoint" type="ContactPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The main contact information of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryOfBirth" type="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The country in which the Person was born.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The Location Class has two properties: a Geographic Name and a Geographic Identifier. Plain codes like "DE" should be provided as values for Geographical Names whereas URIs should be provided as value of the Geographical Identifier. Ideally, provide both. Providing a simple country name is problematic and should be avoided whereas using a standardised system that allows the use of a code list for country names has a lot of potential for increasing semantic interoperability. Known diversity that one has to deal with when exchanging country names between different communication partners without relying on an agreed code list are: (a) long form vs. short form of a country name (e.g. Federal Republic of Germany vs. Germany), (b) different languages (Italy vs. Italia), (c) historic name vs. current name (Burma vs. Myanmar), (d) ambiguity of similar sounding countries (Republic of the Congo vs. Democratic Republic of the Congo). The Publications Office of the European Union recommends and uses &lt;a href="https://www.iso.org/iso-3166-country-codes.html"&gt;ISO 3166-1&lt;/a&gt; codes for countries in all cases except two: use 'UK' in preference to the ISO 3166 code GB for the United Kingdom; use 'EL' in preference to the ISO 3166 code GR for Greece. See &lt;a href="http://publications.europa.eu/code/en/en-5000500.htm"&gt; Publications Office list of countries&lt;/a&gt; for details of the OPOCE's full list of countries, codes, currencies and more. Where a country has changed its name or no longer exists (such as Czechoslovakia, Yugoslavia etc.) use the&lt;a href="https://www.iso.org/standard/72484.html"&gt;ISO 3166-3 code&lt;/a&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryOfDeath" type="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The country in which the Person died.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The Location Class has two properties: a Geographic Name and a Geographic Identifier. Plain codes like "DE" should be provided as values for Geographical Names whereas URIs should be provided as value of the Geographical Identifier. Ideally, provide both. Providing a simple country name is problematic and should be avoided whereas using a standardised system that allows the use of a code list for country names has a lot of potential for increasing semantic interoperability. Known diversity that one has to deal with when exchanging country names between different communication partners without relying on an agreed code list are: (a) long form vs. short form of a country name (e.g. Federal Republic of Germany vs. Germany), (b) different languages (Italy vs. Italia), (c) historic name vs. current name (Burma vs. Myanmar), (d) ambiguity of similar sounding countries (Republic of the Congo vs. Democratic Republic of the Congo). The Publications Office of the European Union recommends and uses &lt;a href="https://www.iso.org/iso-3166-country-codes.html"&gt;ISO 3166-1&lt;/a&gt; codes for countries in all cases except two: use 'UK' in preference to the ISO 3166 code GB for the United Kingdom; use 'EL' in preference to the ISO 3166 code GR for Greece. See &lt;a href="http://publications.europa.eu/code/en/en-5000500.htm"&gt; Publications Office list of countries&lt;/a&gt; for details of the OPOCE's full list of countries, codes, currencies and more. Where a country has changed its name or no longer exists (such as Czechoslovakia, Yugoslavia etc.) use the&lt;a href="https://www.iso.org/standard/72484.html"&gt;ISO 3166-3 code&lt;/a&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateOfBirth" type="http://data.europa.eu/m8g/GenericDate" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The point in time on which the Person was born.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The date of birth could be expressed as date, gYearMonth or gYear, example:
&lt;ul&gt;
&lt;li&gt;- 1980-09-16^^xs:date&lt;/li&gt;
&lt;li&gt;- 1980-09^^xs:gYearMonth&lt;/li&gt;
&lt;li&gt;- 1980^^xs:gYear&lt;/li&gt;
&lt;/ul&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateOfDeath" type="http://data.europa.eu/m8g/GenericDate" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The point in time on which the Person died.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The date of birth could be expressed as date, gYearMonth or gYear, example:
&lt;ul&gt;
&lt;li&gt;- 1980-09-16^^xs:date&lt;/li&gt;
&lt;li&gt;- 1980-09^^xs:gYearMonth&lt;/li&gt;
&lt;li&gt;- 1980^^xs:gYear&lt;/li&gt;
&lt;/ul&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Domicile" type="AddressType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The place that the Person treats as permanent home.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FamilyName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The hereditary surname of a family.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Usually referring to a group of people related by blood, marriage or adoption. This attribute also carries prefixes or suffixes which are part of the family name, e.g. "de Boer", "van de Putte", "von und zu Orlow". Multiple family names, such as are commonly found in Hispanic countries, are recorded in the single family name property so that, for example, Miguel de Cervantes Saavedra's family name would be recorded as "de Cervantes Saavedra".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The complete name of the Person as one string.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">It can be equal to or different from a Person's birth name. The birth name is used as a legal term, whereas the full name just gives a representation of the complete name of a Person.
&lt;br/&gt;&lt;br/&gt;
In addition to the content of given name, family name and, in some systems, patronymic name, this can carry additional parts of a person's name such as titles, middle names or suffixes like "the third" or names which are neither a given nor a family name. The full name is the most reliable label for an individual and as such its use is strongly encouraged, irrespective of whether that name is broken down using the more granular elements.
&lt;br/&gt;&lt;br/&gt;
It is anticipated that some systems will only provide or process the full name of a person. Where an individual has more than one full legal name (a relatively rare but not unknown phenomenon), the full name property can be used more than once. In this case, however, the granular name elements should not be used since the intention is that these provide a breakdown of the full name and it will not be clear of which full name this is true. Note that the vocabulary provides an alternative name property. This allows name(s) to be recorded that have no legal status but that nevertheless are the names by which an individual is generally known.
&lt;br/&gt;&lt;br/&gt;
A name usually sticks with a person for a long time period. In some European countries a name may only be changed according to certain laws and life events, e.g. marriage. The name denominates a natural person even if he/she changes their address. Documents like birth certificate or diploma usually don't carry an address but always the name. Thus the name is one of the core attributes. However it is not sufficient to identify a person since there are combinations of very common names like Smith in the UK, Meier in Germany, or Li in China.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Gender" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The identities, expressions and societal roles of the Person.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The gender of an individual should be recorded using a controlled vocabulary that is appropriate for the specific context. In some cases, the chromosomal or physical state of an individual will be more important than the gender that they express, in others the reverse will be true. What is always important is that the controlled vocabulary used to describe an individual's gender is stated explicitly.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GivenName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name(s) that identify the Person within a family with a common surname.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Usually a first name or forename. Given to a person by his or her parents at birth or legally recognised as 'given names' through a formal process. All given names are ordered in one property so that, for example, the given name for Johann Sebastian Bach is "Johann Sebastian".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The unambiguous structured reference to the Person.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Examples include a national identification number, a student ID, national fiscal number, etc. We also refer to the &lt;a href="http://data.europa.eu/eli/reg/2014/910/oj"&gt;eIDAS regulation&lt;/a&gt; on "electronic identification and trust services" and its &lt;a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eIDAS%2BeID%2BProfile?preview%3D/82773108/148898847/eIDAS%2520SAML%2520Attribute%2520Profile%2520v1.2%2520Final.pdf&amp;sa=D&amp;source=editors&amp;ust=1619073953427000&amp;usg=AFQjCNFMJFPCmHjV0gLJjf8dSHqGUY3ulw"&gt;mapping&lt;/a&gt; to the Core Person Vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MatronymicName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Name based on the given name of the Person's mother.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PatronymicName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Name based on the given name of the Person's father.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Patronymic names are important in some countries. Iceland does not have a concept of 'family name' in the way that many other European countries do, for example. Erik Magnusson and Erika Magnusdottir are siblings, both offspring of Magnus, irrespective of his patronymic name. In Bulgaria and Russia, patronymic names are in everyday usage, for example, the "Sergeyevich" in "Mikhail Sergeyevich Gorbachev". Note that patronymic names refer to a father's given name, not the family name inherited from the mother and father as is the case in countries such as Spain and Portugal. Again referring to the example of Miguel de Cervantes Saavedra's, the patronymic name element would be unused.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceOfBirth" type="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Location where the Person was born.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The Place of Birth and Place of Death are given using the Location class which is associated via the appropriate relationship. The Location Class has two properties: (1) the geographic name of the place, which is given as a string such as "Amsterdam" or "Valetta" and (2) an identifier, such as a geonames URI &lt;a href="http://sws.geonames.org/2759794"&gt;http://sws.geonames.org/2759794&lt;/a&gt; (which identifies Amsterdam) or &lt;a href="http://sws.geonames.org/2562305"&gt;http://sws.geonames.org/2562305&lt;/a&gt; (which identifies Valetta). The use of identifiers is preferred as these are unambiguous, however, public sector data typically uses simple names to record places and this is fully supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceOfDeath" type="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Location where the Person died.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The Place of Birth and Place of Death are given using the Location class which is associated via the appropriate relationship. The Location Class has two properties: (1) the geographic name of the place, which is given as a string such as "Amsterdam" or "Valetta" and (2) an identifier, such as a geonames URI &lt;a href="http://sws.geonames.org/2759794"&gt;http://sws.geonames.org/2759794&lt;/a&gt; (which identifies Amsterdam) or &lt;a href="http://sws.geonames.org/2562305"&gt;http://sws.geonames.org/2562305&lt;/a&gt; (which identifies Valetta). The use of identifiers is preferred as these are unambiguous, however, public sector data typically uses simple names to record places and this is fully supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Residency" type="JurisdictionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Jurisdiction where the Person has their dwelling.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">A Person's fixed, permanent, and principal home for legal purposes, the place (especially the house) in which a person officially lives or resides. A Person has one, multiple or even no residency status. Multiple residencies are recorded as multiple instances of the residency relationship.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sex" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The organism's biological sex.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The recommended controlled vocabulary for this property is &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/human-sex"&gt;the sex authority table of the Publications Office.&lt;/a&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PersonRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Person ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The noun given to the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A classification assigned to an Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>