STR-AP/releases/1.0.0/xsd/strap_en.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="Cost" type="CostType"/>
  <xs:element name="Evidence" type="EvidenceType"/>
  <xs:element name="Output" type="OutputType"/>
  <xs:element name="PublicOrganisation" type="PublicOrganisationType"/>
  <xs:element name="Location" type="LocationType"/>
  <xs:element name="PeriodOfTime" type="PeriodOfTimeType"/>
  <xs:element name="PublicRegistryService" type="PublicRegistryServiceType"/>
  <xs:element name="LangString" type="LangStringType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="TemporalLiteral" type="TemporalLiteralType"/>
  <xs:element name="Boolean" type="BooleanType"/>
  <xs:element name="DateTime" type="DateTimeType"/>
  <xs:element name="Double" type="DoubleType"/>
  <xs:element name="Integer" type="IntegerType"/>
  <xs:element name="Concept" type="ConceptType"/>
  <xs:element name="TimeInstant" type="TimeInstantType"/>
  <xs:element name="Identifier" type="IdentifierType"/>
  <xs:element name="Catalogue" type="CatalogueType"/>
  <xs:element name="CatalogueRecord" type="CatalogueRecordType"/>
  <xs:element name="DataService" type="DataServiceType"/>
  <xs:element name="Dataset" type="DatasetType"/>
  <xs:element name="Distribution" type="DistributionType"/>
  <xs:element name="CataloguedResource" type="CataloguedResourceType"/>
  <xs:element name="LegalEntity" type="LegalEntityType"/>
  <xs:element name="Address" type="AddressType"/>
  <xs:element name="Geometry" type="GeometryType"/>
  <xs:element name="Person" type="PersonType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:element name="Group" type="GroupType"/>
  <xs:element name="Url" type="UrlType"/>
  <xs:element name="ActivityData" type="ActivityDataType"/>
  <xs:element name="CoordinationGroup" type="CoordinationGroupType"/>
  <xs:element name="OnlineShortTermRentalPlatform" type="OnlineShortTermRentalPlatformType"/>
  <xs:element name="Order" type="OrderType"/>
  <xs:element name="RegistrationNumber" type="RegistrationNumberType"/>
  <xs:element name="RegistrationProcedure" type="RegistrationProcedureType"/>
  <xs:element name="ShortTermAccomodationRentalService" type="ShortTermAccomodationRentalServiceType"/>
  <xs:element name="SingleDigitalEntryPoint" type="SingleDigitalEntryPointType"/>
  <xs:element name="Unit" type="UnitType"/>
  <xs:element name="String" type="StringType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="hasEmail" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTelephone" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A telephone number through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CostType">
    <xs:sequence>
      <xs:element name="currency" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The currency in which the Cost needs to be paid and the value of the Cost is expressed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Identifier for the Cost.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasValue" type="xs:double" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A numeric value indicating the amount of the Cost.	</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CostRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Cost ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EvidenceType">
    <xs:sequence>
      <xs:element name="describes" ref="UnitType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Unit described.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validityPeriod" ref="PeriodOfTimeType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Period of Time during which the Evidence holds true or has force.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Identifier for the piece of Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The official Name of the piece of Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relatedDocumentation" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The documentation that contains information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="submissionDate" type="xs:dateTime" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date in which the Document has been submitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="updateDate" type="xs:dateTime" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date in which the Document has been updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EvidenceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Evidence ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Identifier for the Output.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The official Name of the Output.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OutputRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Output ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PublicOrganisationType">
    <xs:sequence>
      <xs:element name="address" ref="AddressType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Address of a Public Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alternativeLabel" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An alternative or informal name(s) of a Public Organization, irrespective of language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="classification" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The categorisation of the Public Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The textual description of the Public Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="establishes" ref="SingleDigitalEntryPointType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Single Digital Entry Point being managed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasNationalCoordinator" ref="PersonType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Person appointed as national coordinator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issues" ref="OrderType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates ther Order issued.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="preferredLabel" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A preferred label is used to provide the primary, legally recognised name of the Public Organization, as defined in the ORG Ontology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="purpose" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property describes the reasons of existence of an Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="verifies" ref="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Evidence verified.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PublicOrganisationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PublicOrganisation ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence>
      <xs:element name="bbox" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The geographic bounding box of a resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="centroid" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The geographic center (centroid) of a resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geometry" ref="GeometryType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The corresponding geometry for a resource</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LocationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Location ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PeriodOfTimeType">
    <xs:sequence>
      <xs:element name="endDate" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The end of the period</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDate" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The start of the period</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beginning" ref="TimeInstantType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The beginning of a period or interval.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="end" ref="TimeInstantType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The end of a period or interval</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PeriodOfTimeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PeriodOfTime ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PublicRegistryServiceType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A free text Description of the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasCompetentAuthority" ref="PublicOrganisationType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It links a Public Service to a Public Organization, which is the responsible Agent for the delivery of the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasInput" ref="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It links a Public Service to one or more instances of the Evidence class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A formally-issued Identifier for the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The official Name of the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="produces" ref="CataloguedResourceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property defines the output of the service as a data resource available
and managed by a Base Registry Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="produces" ref="OutputType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It links a Public Service to one or more instances of the Output class, describing the actual result of executing a given Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PublicRegistryServiceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PublicRegistryService ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LangStringType">
    <xs:sequence/>
    <xs:attribute name="LangStringRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LangString ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TemporalLiteralType">
    <xs:sequence/>
    <xs:attribute name="TemporalLiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TemporalLiteral ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BooleanType">
    <xs:sequence/>
    <xs:attribute name="BooleanRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Boolean ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateTimeType">
    <xs:sequence/>
    <xs:attribute name="DateTimeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to DateTime ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DoubleType">
    <xs:sequence/>
    <xs:attribute name="DoubleRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Double ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IntegerType">
    <xs:sequence/>
    <xs:attribute name="IntegerRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Integer ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:sequence/>
    <xs:attribute name="ConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Concept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TimeInstantType">
    <xs:sequence/>
    <xs:attribute name="TimeInstantRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TimeInstant ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierType">
    <xs:sequence>
      <xs:element name="notation" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A string of characters to uniquely identify a concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IdentifierRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Identifier ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogueType">
    <xs:sequence>
      <xs:element name="dataset" ref="DatasetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Dataset that is part of the Catalogue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="record" ref="CatalogueRecordType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Catalogue Record that is part of the Catalogue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="service" ref="DataServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A site or end-point (Data Service) that is listed in the Catalogue.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CatalogueRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Catalogue ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogueRecordType">
    <xs:sequence>
      <xs:element name="primaryTopic" ref="CataloguedResourceType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A link to the Dataset, Data service or Catalog described in the record.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CatalogueRecordRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CatalogueRecord ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DataServiceType">
    <xs:sequence>
      <xs:element name="servesDataset" ref="DatasetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property refers to a collection of data that this data service can distribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DataServiceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to DataService ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DatasetType">
    <xs:sequence>
      <xs:element name="datasetDistribution" ref="DistributionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An available Distribution for the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DatasetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Dataset ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DistributionType">
    <xs:sequence>
      <xs:element name="accessService" ref="DataServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A data service that gives access to the distribution of the dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasListing" ref="UnitType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference to a unit offered for short-term accommodation rental services and published on an online short-term rental platforms website.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DistributionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Distribution ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CataloguedResourceType">
    <xs:sequence/>
    <xs:attribute name="CataloguedResourceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CataloguedResource ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:sequence>
      <xs:element name="hasLegalRepresentative" ref="PersonType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Person that can represent legally an organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isNotifiedBy" ref="PublicOrganisationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the competent auhority notifying.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isReferredIn" ref="OrderType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Order in which the host is referred.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalIdentifier" ref="IdentifierType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference assigned to the Legal Entity by the legal authority that registered it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalName" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name under which the Legal Entity is legally registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offers" ref="ShortTermAccomodationRentalServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the rental service offered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="provides" ref="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Evidence provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registeredAddress" ref="AddressType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The address at which the Legal Entity is legally registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LegalEntityRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LegalEntity ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="addressArea" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a geographic area that groups Addresses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressId" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A globally unique identifier for each instance of an Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnitLevel1" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the uppermost level of the address, almost always a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnitLevel2" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a secondary level/region of the address, usually a county, state or other such area that typically encompasses several localities.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullAddress" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The complete address written as a string.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="landRegister" ref="DatasetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The land register in which the Address is registered in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatorDesignator" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A number or sequence of characters that uniquely identifies the locator within the relevant scope.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatorName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Proper noun(s) applied to the real world entity identified by the locator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postOfficeBox" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A location designator for a postal delivery point at a post office, usually a number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postCode" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The code created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thoroughfare" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a passage or way through from one location to another.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AddressRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Address ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GeometryType">
    <xs:sequence>
      <xs:element name="coordinates" type="https://www.w3.org/2001/XMLSchema#string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A list of geographic coordinates that define the extent of the Geometry.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geometryType" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The classification of the Geometry.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="latitude" type="https://www.w3.org/2001/XMLSchema#string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The geographic coordinate that specifies the north / south position of the Geomerty on the Earth's surface.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="longitude" type="https://www.w3.org/2001/XMLSchema#string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The geographic coordinate that specifies the east / west position of the Geometry on the Earth's surface.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="GeometryRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Geometry ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="contactPoint" ref="ContactPointType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The main contact information of the resource.	</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="domicile" ref="AddressType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The place that the Person treats as permanent home.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="familyName" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The hereditary surname of a family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name(s) that identify the Person within a family with a common surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference to the Person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isNotifiedBy" ref="PublicOrganisationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the competent auhority notifying.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isPointOfContactFor" ref="SingleDigitalEntryPointType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Single Digital Entry point for which the person acts as contact point for all matters related.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isReferredIn" ref="OrderType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Order in which the host is referred.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offers" ref="ShortTermAccomodationRentalServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the rental service offered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="provides" ref="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Evidence provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PersonRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Person ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GroupType">
    <xs:sequence/>
    <xs:attribute name="GroupRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Group ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="UrlType">
    <xs:sequence/>
    <xs:attribute name="UrlRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Url ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ActivityDataType">
    <xs:sequence>
      <xs:element name="countryOfTheGuests" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The country of residence of the guests.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isAbout" ref="UnitType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Unit associated to the activity data.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfGuests" type="xs:integer" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The number of guest that the unit was rented to per night.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporal" ref="PeriodOfTimeType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the period of time associated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ActivityDataRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ActivityData ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CoordinationGroupType">
    <xs:sequence>
      <xs:element name="member" ref="PersonType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates a member of a Group.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CoordinationGroupRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CoordinationGroup ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OnlineShortTermRentalPlatformType">
    <xs:sequence>
      <xs:element name="checks" ref="SingleDigitalEntryPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Single Digital Entry Point being checked.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Identifier for the OnlineShortTermRentalPlatform</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providesInformationTo" ref="SingleDigitalEntryPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Single Digital Entry Point receiving information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publishes" ref="DatasetType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Dataset of listings published.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestsArea" ref="GeometryType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The area requested by the Online Short Term Rental Platform.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of an Online Short Term Rental Platform.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OnlineShortTermRentalPlatformRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to OnlineShortTermRentalPlatform ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="concerns" ref="RegistrationNumberType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicated the Registration Number concerned.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasListing" ref="UnitType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference to a unit offered for short-term accommodation rental services and published on an online short-term rental platforms website.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Identifier for the Order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reason" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The statement indicating the reason of the Order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sentTo" ref="OnlineShortTermRentalPlatformType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the receiver of the Order.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OrderRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Order ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:sequence>
      <xs:element name="identifies" ref="UnitType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Unit identified by the Registration Number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issueDate" type="xs:dateTime" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of formal issuance of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The status of the Asset in the context of a particular workflow process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporal" ref="PeriodOfTimeType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the period of time associated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RegistrationNumberRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to RegistrationNumber ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RegistrationProcedureType">
    <xs:sequence>
      <xs:element name="hasCost" ref="CostType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">	It indicates the costs related to the execution of a Public Service for the citizen or business related to the execution of the particular Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RegistrationProcedureRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to RegistrationProcedure ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ShortTermAccomodationRentalServiceType">
    <xs:sequence>
      <xs:element name="providesAccessTo" ref="OnlineShortTermRentalPlatformType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates the Online Short Term Rental Platform being accessed by the service.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ShortTermAccomodationRentalServiceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ShortTermAccomodationRentalService ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SingleDigitalEntryPointType">
    <xs:sequence/>
    <xs:attribute name="SingleDigitalEntryPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to SingleDigitalEntryPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="UnitType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An account of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="floorLevel" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The level of the floor of the Unit as textual description.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAuthorization" ref="DocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicated the document attesting the authorization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasUnitAddress" ref="AddressType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The specific address of the Unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isAuthorizationObtained" type="xs:boolean" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">it indicates whether the host has obtained an authorisation for the Unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isOfferedOn" ref="OnlineShortTermRentalPlatformType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Online Short Term Rental Platform where the Unit is declared.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isSubjectToAuthorization" type="xs:boolean" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates whether the Unit is subject to authorization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfBedrooms" type="xs:integer" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The maximum number of available bed places.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="occupancy" type="xs:integer" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The maximum number of guests that the unit accommodates.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="purpose" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">It indicates whether the unit is offered as a part or whole of the host's primary or secondary residence, or for other purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification of the unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" ref="UrlType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">URL of the item.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="UnitRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Unit ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StringType">
    <xs:sequence/>
    <xs:attribute name="StringRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to String ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>