StatDCAT-AP/release/3.0.0/xsd/statdcat-ap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="AttributeProperty" type="AttributePropertyType"/>
  <xs:element name="DimensionProperty" type="DimensionPropertyType"/>
  <xs:element name="Resource" type="ResourceType"/>
  <xs:element name="Concept" type="ConceptType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AttributePropertyType">
    <xs:sequence/>
    <xs:attribute name="AttributePropertyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AttributeProperty ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DimensionPropertyType">
    <xs:sequence/>
    <xs:attribute name="DimensionPropertyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to DimensionProperty ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ResourceType">
    <xs:sequence>
      <xs:element name="attribute" ref="AttributePropertyType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">a component used to qualify and interpret observed values, e.g. units of measure, any scaling factors and metadata such as the status of the observation (e.g. estimated, provisional).
Attribute is a 혩conceptual혪 entity that applies to all distribution formats, e.g. in case a dataset is provided both in SDMX and in DataCube.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dimension" ref="DimensionPropertyType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">a component that identifies observations, e.g. the time to which the observation applies , or a geographic region which the observation covers.

Dimension is a 혩conceptual혪 entity that applies to all distribution formats, e.g. in case a dataset is provided both in SDMX and in DataCube. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfDataSeries" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of data series contained in the dataset</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitOfMeasurement" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">a unit of measurement of the observations in the dataset, for example Euro, square kilometre,
purchasing power standard (PPS), full-time equivalent, percentage. 
Unit of measurement is a 혩conceptual혪 entity that applies to all distribution formats,
e.g. in the case when a dataset is provided both in SDMX and in Data Cube.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ResourceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Resource ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:sequence>
      <xs:element name="preferredLabel" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A preferred label of the concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Concept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>