PLD/releases/1.0.0/xsd/pld.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="ProductLiabilityJudgment" type="ProductLiabilityJudgmentType"/>
  <xs:element name="Country" type="CountryType"/>
  <xs:element name="AccessRight" type="AccessRightType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="CaseLaw" type="CaseLawType"/>
  <xs:element name="NationalCaseLaw" type="NationalCaseLawType"/>
  <xs:element name="DecodingConcept" type="DecodingConceptType"/>
  <xs:element name="EurovocConcept" type="EurovocConceptType"/>
  <xs:element name="NationalCourt" type="NationalCourtType"/>
  <xs:element name="Expression" type="ExpressionType"/>
  <xs:element name="Judgement" type="JudgementType"/>
  <xs:element name="Language" type="LanguageType"/>
  <xs:element name="Manifestation" type="ManifestationType"/>
  <xs:element name="ManifestationOfGeneralPublication" type="ManifestationOfGeneralPublicationType"/>
  <xs:element name="LegalResource" type="LegalResourceType"/>
  <xs:element name="Work" type="WorkType"/>
  <xs:element name="Location" type="LocationType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="AnyUri" type="AnyUriType"/>
  <xs:element name="Date" type="DateType"/>
  <xs:element name="String" type="StringType"/>
  <xs:element name="Concept" type="ConceptType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductLiabilityJudgmentType">
    <xs:sequence>
      <xs:element name="productType" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification for product liability judgment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ProductLiabilityJudgmentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ProductLiabilityJudgment ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:sequence/>
    <xs:attribute name="CountryRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Country ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AccessRightType">
    <xs:sequence/>
    <xs:attribute name="AccessRightRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AccessRight ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="agentName" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">What is the name or other designation of this agent? The name can be the name of a person, an organization..., possibly qualified by language or script.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CaseLawType">
    <xs:sequence>
      <xs:element name="deliveredByCourtNational" ref="NationalCourtType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference to the national court who delivered the judgement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Formal Description of a case law.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ecli" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">European Case Law Identifier. Identifier of the decision, including all its summaries.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" ref="LanguageType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The case uses a given language of procedure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatesInCountry" ref="CountryType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">country of origin of a question referred for a preliminary ruling</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="summaryOfCaseLaw" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Summary of case law, treated as a separate bibliographic item.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CaseLawRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CaseLaw ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NationalCaseLawType">
    <xs:sequence>
      <xs:element name="internalIdentifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Internal identifier from the Court for the national decisions.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="NationalCaseLawRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to NationalCaseLaw ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DecodingConceptType">
    <xs:sequence/>
    <xs:attribute name="DecodingConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to DecodingConcept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EurovocConceptType">
    <xs:sequence/>
    <xs:attribute name="EurovocConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to EurovocConcept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NationalCourtType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of this national court, possibly qualified by language. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationalCourtType" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of national court.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="NationalCourtRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to NationalCourt ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExpressionType">
    <xs:sequence>
      <xs:element name="expressionBelongsToWork" ref="WorkType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expression of a given work.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expressionLanguage" ref="LanguageType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The expression uses a given language (can be repeated to cover expressions in several languages).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ExpressionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Expression ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="JudgementType">
    <xs:sequence/>
    <xs:attribute name="JudgementRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Judgement ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LanguageType">
    <xs:sequence/>
    <xs:attribute name="LanguageRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Language ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ManifestationType">
    <xs:sequence>
      <xs:element name="manifestationManifestsExpression" ref="ExpressionType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Manifestation manifests a given expression.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ManifestationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Manifestation ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ManifestationOfGeneralPublicationType">
    <xs:sequence>
      <xs:element name="publicationDate" type="xs:date" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date of publication/distribution of the manifestation.The date of publication/distribution of the manifestation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="manifestationUri" ref="AnyUriType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">General publication manifestation URI.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ManifestationOfGeneralPublicationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ManifestationOfGeneralPublication ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LegalResourceType">
    <xs:sequence>
      <xs:element name="publishedInOfficialJournal" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The legal resource is published in a given official journal.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfLegalResource" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indication of the legal type in celex identifier (DTT).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LegalResourceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LegalResource ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="WorkType">
    <xs:sequence>
      <xs:element name="accessRestriction" ref="AccessRightType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property defines the access to a work resource, namely confidentiality.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="workCitesWork" ref="WorkType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A reference to another work.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contributedToByAgent" ref="AgentType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The work is contributed to by an agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfDocument" type="xs:date" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date of document (possibly including annotation properties).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isAbout" ref="EurovocConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The work is about a concept, typically expressed as a Eurovoc concept, but also through other taxonomies and thesauri.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="WorkRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Work ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence/>
    <xs:attribute name="LocationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Location ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AnyUriType">
    <xs:sequence/>
    <xs:attribute name="AnyUriRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AnyUri ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:sequence/>
    <xs:attribute name="DateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Date ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StringType">
    <xs:sequence/>
    <xs:attribute name="StringRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to String ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:sequence/>
    <xs:attribute name="ConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Concept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>