EGDC/releases/1.0.0/xsd/egdc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Benefit" type="BenefitType"/>
  <xs:element name="CaseStudy" type="CaseStudyType"/>
  <xs:element name="Methodology" type="MethodologyType"/>
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="ImageObject" type="ImageObjectType"/>
  <xs:element name="Location" type="LocationType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Date" type="DateType"/>
  <xs:element name="Integer" type="IntegerType"/>
  <xs:element name="String" type="StringType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="Dataset" type="DatasetType"/>
  <xs:element name="Organization" type="OrganizationType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BenefitType">
    <xs:sequence>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The classification given to a Benefit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unit of the amount value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="xs:integer" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="BenefitRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Benefit ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CaseStudyType">
    <xs:sequence>
      <xs:element name="created" type="xs:date" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of creation of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fundedBy" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An entity responsible for the financial support.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="funding" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of financing of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasBenefit" ref="BenefitType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The benefit measured by the case study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasDataset" ref="DatasetType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The dataset attached to the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasMethodology" ref="MethodologyType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The methodology provided with the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isProvidedBy" ref="OrganizationType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An entity responsible for making the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="logo" ref="ImageObjectType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A graphic symbol to represent the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="longDescription" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An extended description of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="problemSolved" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of challenge the Case Study resolved.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shortDescription" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An account of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spatial" ref="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Spatial characteristics of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="technology" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of equipment used by the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfCalculation" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Type of computation used for the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CaseStudyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CaseStudy ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MethodologyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The title of the document.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="MethodologyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Methodology ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="hasEmail" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ImageObjectType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the logo.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ImageObjectRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ImageObject ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence/>
    <xs:attribute name="LocationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Location ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:sequence/>
    <xs:attribute name="DateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Date ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IntegerType">
    <xs:sequence/>
    <xs:attribute name="IntegerRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Integer ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StringType">
    <xs:sequence/>
    <xs:attribute name="StringRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to String ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DatasetType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DatasetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Dataset ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:sequence>
      <xs:element name="contactPoint" ref="ContactPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The main contact information of the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The noun given to the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sector" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The industry or sector the Organization is intended for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The nature of the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Organization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>