EGDC_CaseStudy/releases/1.0.1/xsd/egdc_casestudy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Benefit" type="BenefitType"/>
  <xs:element name="CaseStudy" type="CaseStudyType"/>
  <xs:element name="EnvironmentalBenefit" type="EnvironmentalBenefitType"/>
  <xs:element name="Methodology" type="MethodologyType"/>
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="ImageObject" type="ImageObjectType"/>
  <xs:element name="LinguisticSystem" type="LinguisticSystemType"/>
  <xs:element name="Location" type="LocationType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Date" type="DateType"/>
  <xs:element name="Integer" type="IntegerType"/>
  <xs:element name="String" type="StringType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="Dataset" type="DatasetType"/>
  <xs:element name="Address" type="AddressType"/>
  <xs:element name="Organization" type="OrganizationType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BenefitType">
    <xs:sequence>
      <xs:element name="type" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The classification given to a Benefit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of benefit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unit of the amount value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="xs:integer" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="BenefitRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Benefit ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CaseStudyType">
    <xs:sequence>
      <xs:element name="address" ref="AddressType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Associates any Resource with the corresponding Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="created" type="xs:date" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of creation of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fundingType" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of financing of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasBenefit" ref="BenefitType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The benefit measured by the case study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasBenefit" ref="EnvironmentalBenefitType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The benefit measured by the case study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasDataset" ref="DatasetType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The dataset attached to the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasMethodology" ref="MethodologyType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The methodology provided with the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isFundedBy" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An entity responsible for the financial support.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isProvidedBy" ref="OrganizationType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An entity responsible for making the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isUsedBy" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The entity using the solution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" ref="LinguisticSystemType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A language of the CaseStudy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="logo" ref="ImageObjectType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A graphic symbol to represent the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="longDescription" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An extended description of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="problemSolved" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of challenge the Case Study resolved.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shortDescription" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An account of the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="technology" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The type of equipment used by the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfCalculation" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Type of computation used for the Case Study.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CaseStudyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to CaseStudy ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EnvironmentalBenefitType">
    <xs:sequence/>
    <xs:attribute name="EnvironmentalBenefitRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to EnvironmentalBenefit ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MethodologyType">
    <xs:sequence>
      <xs:element name="language" ref="LinguisticSystemType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A language of the Methodology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The title of the document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" ref="DocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A web page of the Methodology.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="MethodologyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Methodology ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="hasEmail" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the ContactPoint.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ImageObjectType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the logo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" ref="DocumentType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A url for retrieving the ImageObject.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ImageObjectRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ImageObject ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LinguisticSystemType">
    <xs:sequence/>
    <xs:attribute name="LinguisticSystemRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LinguisticSystem ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence/>
    <xs:attribute name="LocationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Location ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:sequence/>
    <xs:attribute name="DateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Date ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IntegerType">
    <xs:sequence/>
    <xs:attribute name="IntegerRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Integer ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StringType">
    <xs:sequence/>
    <xs:attribute name="StringRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to String ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DatasetType">
    <xs:sequence>
      <xs:element name="language" ref="LinguisticSystemType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A language of the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Dataset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="landingPage" ref="DocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A web page that provides access to the Dataset, its Distributions and/or additional information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DatasetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Dataset ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="administrativeUnitLevel1" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the uppermost level of the address, almost always a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AddressRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Address ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:sequence>
      <xs:element name="contactPoint" ref="ContactPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The main contact information of the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The noun given to the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sector" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The industry or sector the Organization is intended for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subSector" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The sub sector the Organization is intended for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The nature of the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="websiteUrl" ref="DocumentType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The web portal where information about the organization can be found.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Organization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>