rrmv/releases/0.0.1/xsd/rrmv.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Action" type="ActionType"/>
  <xs:element name="ActionResult" type="ActionResultType"/>
  <xs:element name="AgentRole" type="AgentRoleType"/>
  <xs:element name="AgentType" type="AgentTypeType"/>
  <xs:element name="Frequency" type="FrequencyType"/>
  <xs:element name="Request" type="RequestType"/>
  <xs:element name="ResultType" type="ResultTypeType"/>
  <xs:element name="Role" type="RoleType"/>
  <xs:element name="RoleType" type="RoleTypeType"/>
  <xs:element name="Status" type="StatusType"/>
  <xs:element name="TemporalFunction" type="TemporalFunctionType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Expression" type="ExpressionType"/>
  <xs:element name="Work" type="WorkType"/>
  <xs:element name="Manifestation" type="ManifestationType"/>
  <xs:element name="Organization" type="OrganizationType"/>
  <xs:element name="Person" type="PersonType"/>
  <xs:element name="PeriodOfTime" type="PeriodOfTimeType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActionType">
    <xs:sequence>
      <xs:element name="relatedTo" ref="ActionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates a somehow related other document, not necessarily a legal resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAnnotation" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Annotation related to the Action or Request made by the domain expert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atTime" ref="PeriodOfTimeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Action or a Role is valid within a time interval.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAgentRole" ref="AgentRoleType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property connects the executed Action to the Agent that was involved in its exectuion.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasNext" ref="ActionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A property linking an Action with the succeeding Action in a repetitive sequence of actions generated by a Request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasResult" ref="ActionResultType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A property that links an Action with the Result of this action.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasStatus" ref="StatusType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A property that links an Action with the Status of this action.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ActionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Action ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ActionResultType">
    <xs:sequence>
      <xs:element name="hasDocument" ref="ExpressionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A property that links a Result of an Action with an Expression, usually wen the result is a document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTitle" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Title of the Action.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasType" ref="ResultTypeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property connects the Action Result to the Action Result Type to which it belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ActionResultRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ActionResult ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentRoleType">
    <xs:sequence>
      <xs:element name="atTime" ref="PeriodOfTimeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Action or a Role is valid within a time interval.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="forAgent" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The property linking a particular Role to Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="withRole" ref="RoleType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The property linking an Agent to Role.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRoleRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AgentRole ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentTypeType">
    <xs:sequence/>
    <xs:attribute name="AgentTypeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AgentType ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FrequencyType">
    <xs:sequence/>
    <xs:attribute name="FrequencyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Frequency ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element name="changes" ref="RequestType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that this work or expression legally changes another. This encompasses the notions of amendment, replacement, repeal, or other types of change. This may be a direct change (textual or non-textual amendment) or a consequential or indirect change.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cites" ref="RequestType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Citation in the text of the legislation. This may be at the legal resource or legal expression level, as required by the implementation context. This includes verbatim citation and citations in referrals.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cites" ref="ExpressionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Citation in the text of the legislation. This may be at the legal resource or legal expression level, as required by the implementation context. This includes verbatim citation and citations in referrals.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isPartOf" ref="ExpressionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates a work in which this one is physically included. Covers the case of text included in an Official Journal, or an article included in a text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relatedTo" ref="RequestType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates a somehow related other document, not necessarily a legal resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAnnotation" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Annotation related to the Action or Request made by the domain expert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTopic" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The topic of the request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasUnit" ref="FrequencyType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The property linking a Request with the Frequency and expressing the unit of this frequency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasUri" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">URI of the Request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasValue" ref="FrequencyType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The property linking a Request a Frequency expressing the value of the unit of the frequency (e.g., 2 is the value, quarter is the unit).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="produces" ref="ActionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Request produces one or many Action.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RequestRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Request ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ResultTypeType">
    <xs:sequence/>
    <xs:attribute name="ResultTypeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ResultType ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RoleType">
    <xs:sequence>
      <xs:element name="hasType" ref="RoleTypeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Assign the type to SKOS controlled vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RoleRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Role ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RoleTypeType">
    <xs:sequence/>
    <xs:attribute name="RoleTypeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to RoleType ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:sequence/>
    <xs:attribute name="StatusRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Status ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TemporalFunctionType">
    <xs:sequence/>
    <xs:attribute name="TemporalFunctionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TemporalFunction ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="hasType" ref="AgentTypeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Assign the type to SKOS controlled vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ExpressionType">
    <xs:sequence>
      <xs:element name="isRealizedBy" ref="WorkType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a work to an expression of this work in the form of a "sequence of signs" (typically alpha-numeric characters in a legal context).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasUri" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">URI of the Legal Source Expression where the Request is expressed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ExpressionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Expression ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="WorkType">
    <xs:sequence/>
    <xs:attribute name="WorkRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Work ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ManifestationType">
    <xs:sequence>
      <xs:element name="isEmbodiedBy" ref="ExpressionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates an expression to a manifestation of that expression.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ManifestationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Manifestation ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:sequence/>
    <xs:attribute name="OrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Organization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence/>
    <xs:attribute name="PersonRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Person ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PeriodOfTimeType">
    <xs:sequence>
      <xs:element name="hasFunction" ref="TemporalFunctionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A property that links one Period of Time with its Function inside of the Request (e.g., deadeline, term, enter into force).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isIncomplete" type="xs:boolean" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data property that track the incompleteness of the temporal parameters.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PeriodOfTimeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PeriodOfTime ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>