OOTS/EvidenceOfRoadworthiness/0.0.1/xsd/evidenceofroadworthiness_en.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Evidence" type="EvidenceType"/>
  <xs:element name="Attribute" type="AttributeType"/>
  <xs:element name="AttributeSet" type="AttributeSetType"/>
  <xs:element name="EvidenceOfRoadworthiness" type="EvidenceOfRoadworthinessType"/>
  <xs:element name="OotsEvidence" type="OotsEvidenceType"/>
  <xs:element name="Roadworthiness" type="RoadworthinessType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="Person" type="PersonType"/>
  <xs:element name="Instant" type="InstantType"/>
  <xs:element name="Decimal" type="DecimalType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EvidenceType">
    <xs:sequence/>
    <xs:attribute name="EvidenceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Evidence ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:sequence/>
    <xs:attribute name="AttributeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Attribute ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AttributeSetType">
    <xs:sequence>
      <xs:element name="hasAttribute" ref="AttributeType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The optional property that provides additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AttributeSetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AttributeSet ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EvidenceOfRoadworthinessType">
    <xs:sequence>
      <xs:element name="isAbout" ref="PersonType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent that is the subject in the provided Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requires" ref="RoadworthinessType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A related resource that is required by the described resource to support its function, delivery, or coherence.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EvidenceOfRoadworthinessRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to EvidenceOfRoadworthiness ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OotsEvidenceType">
    <xs:sequence>
      <xs:element name="hasAttributeSet" ref="AttributeSetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a concept to the AttributeSet that provides its additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OotsEvidenceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to OotsEvidence ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RoadworthinessType">
    <xs:sequence>
      <xs:element name="durationOfPursuedStudies" type="xs:decimal" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">length of, or element of the length of, a temporal extent expressed in years.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateOfAcademicYear" ref="InstantType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">End of a temporal entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAttributeSet" ref="AttributeSetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a concept to the AttributeSet that provides its additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDateOfTheAcademicYear" ref="InstantType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Beginning of a temporal entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nameOfTheStudyProgrammeToWhichTheAdmissionRefers" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RoadworthinessRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Roadworthiness ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="familyName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The hereditary surname of a family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name(s) that identify the Person within a family with a common surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAttributeSet" ref="AttributeSetType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relates a concept to the AttributeSet that provides its additional descriptive information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PersonRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Person ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="InstantType">
    <xs:sequence/>
    <xs:attribute name="InstantRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Instant ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DecimalType">
    <xs:sequence/>
    <xs:attribute name="DecimalRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Decimal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>