doc/core-vocabulary/adms/xsd/adms_en.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Asset" type="AssetType"/>
  <xs:element name="AssetDistribution" type="AssetDistributionType"/>
  <xs:element name="AssetRepository" type="AssetRepositoryType"/>
  <xs:element name="Identifier" type="IdentifierType"/>
  <xs:element name="FileFormat" type="FileFormatType"/>
  <xs:element name="LicenseDocument" type="LicenseDocumentType"/>
  <xs:element name="Location" type="LocationType"/>
  <xs:element name="PeriodOfTime" type="PeriodOfTimeType"/>
  <xs:element name="Concept" type="ConceptType"/>
  <xs:element name="ConceptScheme" type="ConceptSchemeType"/>
  <xs:element name="VCard" type="VCardType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AssetType">
    <xs:sequence>
      <xs:element name="alternativeLabel" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An alternative name for the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactPoint" ref="VCardType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links an asset to a contact point from where further information about an Asset can be obtained.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="describedBy" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The main documentation or specification of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="distribution" ref="AssetDistributionType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links an Asset to an implementation in a particular format.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links a resource to an adms:Identifier class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="includedAsset" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An Asset that is contained in the Asset being described, e.g. when there are several vocabularies defined in a single document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="interoperabilityLevel" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The interoperability level for which the Asset is relevant.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issued" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of formal issuance (e.g., publication) of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="keyword" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A word, phrase or tag to describe the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="landingPage" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A Web page that can be navigated to in a Web browser to gain access to the Asset, its distributions and/or additional information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The language of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="last" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A link to the current or latest version of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modified" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of the latest update of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="next" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A link to the next version of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="page" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links to documentation that contains information related to the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="prev" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A link to the previous version of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">inks an Asset to the publishing foaf:Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relation" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A link between two Assets that are related in some (unspecified) way.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sample" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links to a sample of an Asset (which is itself an Asset).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spatial" ref="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The geographic region to which the Asset Repository applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The status of the Asset in the context of a particular workflow process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporal" ref="PeriodOfTimeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The time period to which the Asset applies, e.g. its validity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="theme" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The theme or sector to which the Asset applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="translation" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links Assets that are translations of each other.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property is used to point to the specific type of Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionInfo" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A version number or other designation of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionNotes" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of changes between this version and the previous version of the Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AssetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Asset ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AssetDistributionType">
    <xs:sequence>
      <xs:element name="accessUrl" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Any kind of URL that gives access to an Asset Repository or Asset Distribution, e.g. a landing page, download, feed URL, SPARQL endpoint etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the Asset Distribution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="downloadUrl" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This is a direct link from an Asset Distribution to a downloadable file in a given format, e.g. CSV file or RDF file. The format is described by the distribution's dcterms:format and/or dcat:mediaType.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="format" ref="FileFormatType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The file format of the distribution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issued" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of formal issuance (e.g., publication) of the Asset Distribution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="license" ref="LicenseDocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links to the conditions or restrictions for (re-)use of the Asset Distribution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mediatype" ref="FileFormatType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The media type of the distribution as defined by IANA .</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modified" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of the latest update of the Asset Distribution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">inks an Asset Distribution to the publishing foaf:Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="representationTechnique" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">More information about the format in which an Asset Distribution is released. This is different from the file format as, for example, a ZIP file (file format) could contain an XML schema (representation technique).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The status of the AssetRepository in the context of a particular workflow process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Asset Distribution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AssetDistributionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AssetDistribution ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AssetRepositoryType">
    <xs:sequence>
      <xs:element name="accessUrl" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Any kind of URL that gives access to an Asset Repository or Asset Distribution, e.g. a landing page, download, feed URL, SPARQL endpoint etc. Use dcat:accessURL when you do not have information on which it is or when it is definitely not a download.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataset" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to link an Asset Repository to an Asset.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the Asset Repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issued" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of formal issuance (e.g., publication) of the Asset Repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modified" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of the latest update of the Asset Repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">inks an Asset Repository to the publishing foaf:Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spatial" ref="LocationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The geographic region to which the Asset Repository applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="supportedSchema" ref="AssetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A schema according to which the Asset Repository can provide data about its content, e.g. ADMS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="themeTaxonomy" ref="ConceptSchemeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The SKOS Concept Scheme used to classify an Asset Repository's assets.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the Asset Repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AssetRepositoryRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AssetRepository ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierType">
    <xs:sequence>
      <xs:element name="dateOfIssue" type="xs:date" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date on which the Identifier was assigned.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issuingAuthorityName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the agency responsible for issuing the Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issuingAuthorityUri" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference in the form of a Uniform Resource Identifier to the issuing authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="notation" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A string of characters to uniquely identify a concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemeName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the scheme used to construct the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemeUri" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">URI of the scheme used to construct the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IdentifierRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Identifier ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FileFormatType">
    <xs:sequence/>
    <xs:attribute name="FileFormatRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to FileFormat ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LicenseDocumentType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A description of the License Document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the License Document.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property is used to point to the specific type of publisher, Asset and License Document.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LicenseDocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LicenseDocument ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence>
      <xs:element name="geographicIdentifier" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A reference in the form of a Uniform Resource Identifier to the Location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geographicName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A textual description for a Location.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LocationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Location ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PeriodOfTimeType">
    <xs:sequence>
      <xs:element name="endDate" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used in ADMS to define the end of a period of time during which an Asset is valid or applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startDate" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used in ADMS to define the start of a period of time during which an Asset is valid or applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PeriodOfTimeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PeriodOfTime ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:sequence>
      <xs:element name="inScheme" ref="ConceptSchemeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The ConceptScheme to which the Concept belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Concept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConceptSchemeType">
    <xs:sequence/>
    <xs:attribute name="ConceptSchemeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ConceptScheme ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="VCardType">
    <xs:sequence/>
    <xs:attribute name="VCardRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to VCard ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="identifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference for the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The noun given to the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">This property is used to point to the specific type of publisher.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>