ADM/releases/0.0.2/xsd/arachne.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="Beneficiary" type="BeneficiaryType"/>
  <xs:element name="Block" type="BlockType"/>
  <xs:element name="ConsortiumMember" type="ConsortiumMemberType"/>
  <xs:element name="ContractAddenda" type="ContractAddendaType"/>
  <xs:element name="Esf" type="EsfType"/>
  <xs:element name="KeyExpert" type="KeyExpertType"/>
  <xs:element name="Partner" type="PartnerType"/>
  <xs:element name="ProcurementInfo" type="ProcurementInfoType"/>
  <xs:element name="ServiceProvider" type="ServiceProviderType"/>
  <xs:element name="Subcontract" type="SubcontractType"/>
  <xs:element name="Subcontractor" type="SubcontractorType"/>
  <xs:element name="AgentInRole" type="AgentInRoleType"/>
  <xs:element name="Contract" type="ContractType"/>
  <xs:element name="Contractor" type="ContractorType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:element name="MonetaryValue" type="MonetaryValueType"/>
  <xs:element name="Notice" type="NoticeType"/>
  <xs:element name="Procedure" type="ProcedureType"/>
  <xs:element name="GenericDate" type="GenericDateType"/>
  <xs:element name="FundingProgramme" type="FundingProgrammeType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Boolean" type="BooleanType"/>
  <xs:element name="Date" type="DateType"/>
  <xs:element name="DateTime" type="DateTimeType"/>
  <xs:element name="Decimal" type="DecimalType"/>
  <xs:element name="Integer" type="IntegerType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="Identifier" type="IdentifierType"/>
  <xs:element name="LegalEntity" type="LegalEntityType"/>
  <xs:element name="Person" type="PersonType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Project" type="ProjectType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BeneficiaryType">
    <xs:sequence>
      <xs:element name="hasPartner" ref="PartnerType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference to an entity which is partner of the beneficiary of the project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasUltimateOwner" ref="LegalEntityType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The ultimate
 owner of the beneficiary of the project.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="BeneficiaryRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Beneficiary ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BlockType">
    <xs:sequence>
      <xs:element name="dg" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Directory general to which the project belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="projectType" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A category to which the project belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="BlockRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Block ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConsortiumMemberType">
    <xs:sequence/>
    <xs:attribute name="ConsortiumMemberRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ConsortiumMember ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContractAddendaType">
    <xs:sequence>
      <xs:element name="amount" ref="MonetaryValueType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total amount of the contract addenda.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="count" type="xs:integer" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of addenda for the concerned contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContractAddendaRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContractAddenda ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EsfType">
    <xs:sequence>
      <xs:element name="peopleToTrain" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount of people requested to follow the training. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providedTrainingHours" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount of training hours given.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainedPeople" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount of people whom completed the training.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trainingHours" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The time spent for the training.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EsfRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Esf ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="KeyExpertType">
    <xs:sequence/>
    <xs:attribute name="KeyExpertRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to KeyExpert ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PartnerType">
    <xs:sequence/>
    <xs:attribute name="PartnerRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Partner ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ProcurementInfoType">
    <xs:sequence>
      <xs:element name="excludedTenders" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of disqualified tender offers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refersToNotice" ref="NoticeType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The related notice to the contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalTenders" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total number of valid and disqualified tenders.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validTenders" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of received valid tender offers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ProcurementInfoRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ProcurementInfo ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ServiceProviderType">
    <xs:sequence/>
    <xs:attribute name="ServiceProviderRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ServiceProvider ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SubcontractType">
    <xs:sequence>
      <xs:element name="amount" ref="MonetaryValueType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total amount of the subcontract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasSubcontractor" ref="SubcontractorType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Subcontractor assigned on a subcontract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links a resource to an adms:Identifier class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isPartOf" ref="ContractType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A related resource in which the described resource is physically or logically included.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SubcontractRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Subcontract ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="SubcontractorType">
    <xs:sequence/>
    <xs:attribute name="SubcontractorRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Subcontractor ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentInRoleType">
    <xs:sequence>
      <xs:element name="playedBy" ref="AgentType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relation indicating the Agent that fulfills the function of the instance of the concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentInRoleRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AgentInRole ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContractType">
    <xs:sequence>
      <xs:element name="belongsTo" ref="ProjectType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The project in which a contract is executed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contractType" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification of the contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="finalEndDate" type="xs:date" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The contract end date when the contract is finished.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasConsortiumMember" ref="ConsortiumMemberType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Member of the consortium assigned on a contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasContractAddenda" ref="ContractAddendaType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The aggregated addendum to the contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasContractConclusionDate" type="xs:date" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date the contract was signed by the last signatory party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasContractValue" ref="MonetaryValueType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relation indicating the Monetary value of the Contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasContractor" ref="ContractorType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference to the entity which is the
contractor of the contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasKeyExpert" ref="KeyExpertType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expert assigned on a contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasProcurementReference" ref="ProcurementInfoType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The related information of the procurement the contract is covering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasServiceProvider" ref="ServiceProviderType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Relation indicating the service provider of the contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasInitialEndDate" type="xs:date" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The contract end date as initially defined when the contract was
signed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modified" type="xs:boolean" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flag indicating if the contract is a modified (edited) version of a preexisting
contract, or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContractRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Contract ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContractorType">
    <xs:sequence/>
    <xs:attribute name="ContractorRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Contractor ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An account of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links a resource to an adms:Identifier class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name given to the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MonetaryValueType">
    <xs:sequence>
      <xs:element name="hasAmountValue" type="xs:decimal" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The numeric value of the amount, including decimals.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasCurrency" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The identifier of the currency as in the standard code list used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="MonetaryValueRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to MonetaryValue ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="NoticeType">
    <xs:sequence>
      <xs:element name="hasElectronicSenderDispatchDate" type="xs:dateTime" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">	The date and time the notice was transmitted electronically by the eSender to the Publications Office of the European Union.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refersToProcedure" ref="ProcedureType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The related procedure to which the notice refers to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="NoticeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Notice ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ProcedureType">
    <xs:sequence>
      <xs:element name="hasProcedureType" type="ConceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of the Procedure used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ProcedureRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Procedure ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GenericDateType">
    <xs:sequence/>
    <xs:attribute name="GenericDateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to GenericDate ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FundingProgrammeType">
    <xs:sequence>
      <xs:element name="hasProject" ref="ProjectType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The reference to a project within a programme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="FundingProgrammeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to FundingProgramme ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BooleanType">
    <xs:sequence/>
    <xs:attribute name="BooleanRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Boolean ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:sequence/>
    <xs:attribute name="DateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Date ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateTimeType">
    <xs:sequence/>
    <xs:attribute name="DateTimeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to DateTime ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DecimalType">
    <xs:sequence/>
    <xs:attribute name="DecimalRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Decimal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IntegerType">
    <xs:sequence/>
    <xs:attribute name="IntegerRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Integer ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierType">
    <xs:sequence>
      <xs:element name="notation" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A string of characters to uniquely identify a concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IdentifierRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Identifier ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:sequence>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference for the Legal Entity, which is different from the one denoting its legal status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalIdentifier" ref="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference assigned to the Legal Entity by the legal authority that registered it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfEmployees" type="xs:integer" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of employees of the beneficiary at the moment of the
approval of the application.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="turnover" ref="MonetaryValueType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Turnover of the beneficiary at the moment of the approval of the
application.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LegalEntityRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LegalEntity ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="dateOfBirth" type="http://data.europa.eu/m8g/GenericDate" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The point in time on which the Person was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="familyName" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The hereditary surname of a family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name(s) that identify the Person within a family with a common surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PersonRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Person ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The noun given to the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification assigned to an Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element name="ecFinancialAssistance" ref="MonetaryValueType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount of the contribution financed by the EC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasBeneficiary" ref="BeneficiaryType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The beneficiary of a project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasBlock" ref="BlockType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference to the type of the project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasEndDate" type="xs:date" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A data property linking something such as a project to its end date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasStartDate" type="xs:date" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A data property linking something such as a project to its start date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Links a resource to an adms:Identifier class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="income" ref="MonetaryValueType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount of revenues generated by the project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherContributions" ref="MonetaryValueType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount of the other contributions to the project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">The status of the Asset in the context of a particular workflow process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thematicObjective" type="ConceptType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification of the project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A human-readable version of a resource's name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalCost" ref="MonetaryValueType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total amount of the project as agreed on the project application.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ProjectRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Project ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>