CPSV-AP/releases/3.2.0/xsd/cpsv-ap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="AdministrativeTerritorialUnit" type="AdministrativeTerritorialUnitType"/>
  <xs:element name="ConcessionContract" type="ConcessionContractType"/>
  <xs:element name="LegalResource" type="LegalResourceType"/>
  <xs:element name="BusinessEvent" type="BusinessEventType"/>
  <xs:element name="Channel" type="ChannelType"/>
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="Cost" type="CostType"/>
  <xs:element name="Event" type="EventType"/>
  <xs:element name="Evidence" type="EvidenceType"/>
  <xs:element name="EvidenceType" type="EvidenceTypeType"/>
  <xs:element name="LifeEvent" type="LifeEventType"/>
  <xs:element name="Output" type="OutputType"/>
  <xs:element name="Participation" type="ParticipationType"/>
  <xs:element name="PublicOrganization" type="PublicOrganizationType"/>
  <xs:element name="Requirement" type="RequirementType"/>
  <xs:element name="ServiceConcessionContract" type="ServiceConcessionContractType"/>
  <xs:element name="Duration" type="DurationType"/>
  <xs:element name="LinguisticSystem" type="LinguisticSystemType"/>
  <xs:element name="PublicService" type="PublicServiceType"/>
  <xs:element name="Rule" type="RuleType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Collection" type="CollectionType"/>
  <xs:element name="Concept" type="ConceptType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="TemporalEntity" type="TemporalEntityType"/>
  <xs:element name="Dataset" type="DatasetType"/>
  <xs:element name="Address" type="AddressType"/>
  <xs:element name="Organization" type="OrganizationType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:complexType name="AdministrativeTerritorialUnitType">
    <xs:sequence/>
    <xs:attribute name="AdministrativeTerritorialUnitRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AdministrativeTerritorialUnit ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConcessionContractType">
    <xs:sequence/>
    <xs:attribute name="ConcessionContractRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ConcessionContract ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LegalResourceType">
    <xs:sequence>
      <xs:element name="Related" type="LegalResourceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Another instance of the Legal Resource class that is related to the particular Legal Resource being described.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LegalResourceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LegalResource ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="conceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BusinessEventType">
    <xs:sequence>
      <xs:element name="Type" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links an Event to a controlled vocabulary of event types.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The recommended Controlled vocabulary to be used is the &lt;a href="http://publications.europa.eu/resource/dataset/business-event"&gt;Business event&lt;/a&gt; Vocabulary maintained by the Publications Office of the EU.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="BusinessEventRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to BusinessEvent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ChannelType">
    <xs:sequence>
      <xs:element name="AvailabilityRestriction" type="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A time during which the resource is not available.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Like the Contact Point, a Channel may not be available at a certain time.
&lt;br/&gt;&lt;br/&gt;
For a simple description of the time use the description property of TemporalEntity.
&lt;br/&gt;&lt;br/&gt;
For more structured data use the model in Time Ontology, see an &lt;a href="https://www.w3.org/TR/owl-time/#dtd-vs-dt"&gt;example&lt;/a&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text description of the Channel, for example to describe conditions when to use it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasInput" type="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The property links a Public Service directly to one or more pieces of Evidence.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">In the majority of cases, the evidence required to use a Public Service will be independent of the channel through which the service is accessed. The Has Input property should normally be used to link a Public Service directly to one or more pieces of Evidence. However, where the type of Evidence required varies according to the channel used to access the Public Service, then the Has Input property may be used at the Channel level. For example, a digital signature may be required for an online channel, whereas a physical signature may be required for a face to face service provision.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Channel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OpeningHours" type="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A time at which the resource is normally available.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Like the Contact Point, a Channel may be available at a certain time.
&lt;br/&gt;&lt;br/&gt;
For a simple description of the time use the description property of TemporalEntity.
&lt;br/&gt;&lt;br/&gt;
For more structured data use the model in Time Ontology, see an &lt;a href="https://www.w3.org/TR/owl-time/#dtd-vs-dt"&gt;example&lt;/a&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnedBy" type="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The owner of a specific Channel through which a Public Service is being delivered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingTime" type="xs:duration" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The (estimated) time needed for executing a Public Service which may depend on the Channel chosen.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The actual information is provided using the ISO8601 syntax for durations. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="conceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The type of Channel as defined in a controlled vocabulary.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The recommended controlled vocabularies for this property is the &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/com-channel/25831c2"&gt;Europass Channel Type&lt;/a&gt; Authority Table of the Publications Office.

Member States could create subclasses of Channel by adding a e-mail address or an homepage depending on the channel type, in this case VCard could be eventually used. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ChannelRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Channel ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="AvailabilityRestriction" type="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A time during which the resource is not available.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For a simple description of the time use the description property of TemporalEntity.

For more structured data use the model in Time Ontology, see an &lt;a href="https://www.w3.org/TR/owl-time/#dtd-vs-dt"&gt;example&lt;/a&gt;.

This relation can be used to indicate exceptional closures such as being closed on public holidays.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactPage" type="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A web page that could be used to reach out the Contact Point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasEmail" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OpeningHours" type="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A time at which the the resource is normally available.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For a simple description of the time use the description property of TemporalEntity.

For more structured data use the model in Time Ontology, see an &lt;a href="https://www.w3.org/TR/owl-time/#dtd-vs-dt"&gt;example&lt;/a&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasTelephone" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A telephone number through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CostType">
    <xs:sequence>
      <xs:element name="Currency" type="conceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The currency in which the Cost needs to be paid and the value of the Cost is expressed.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The possible values for this property are described in the controlled vocabulary 
&lt;a href="https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/currency"&gt;Currency&lt;/a&gt; Authority Table of Publications Office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text description of the Cost.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Cost.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IfAccessedThrough" type="ChannelType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The costs created by the use of different Channels.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For example, if accessed through an online service cf. accessed at a physical location, the cost can be linked to the channel using the If Accessed Through property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsDefinedBy" type="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links the Cost class to one or more instances of the Organization class.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This property indicates which Public Organization is the Competent Authority for defining the costs associated with the delivery of a particular Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasValue" type="xs:double" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A numeric value indicating the amount of the Cost.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CostRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Cost ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text description of the Event.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The description is likely to be the text that a business or citizen sees for that specific Event when looking for relevant Public Services. Public administrations are therefore encouraged to include a reasonable level of detail in the description.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasRelatedService" type="PublicServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Public Service related to the Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Name (or title) of the Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EventRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Event ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EvidenceType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text Description of the piece of Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the piece of Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsConformantTo" type="EvidenceTypeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Evidence Type that specifies characteristics of the Evidence.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Examples of characteristics could be the layout or the configuration of the Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Language" type="LinguisticSystemType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The language(s) in which the Evidence must be provided.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The recommended controlled vocabularies for this property is the &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/language"&gt;Language&lt;/a&gt; Authority Table of the Publications Office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The official Name of the piece of Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelatedDocumentation" type="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The documentation that contains information.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For instance, a particular template for an administrative document, an application or a guide on formatting the Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupportsRequirement" type="RequirementType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Requirement for which the Evidence provides proof.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="conceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The type of Evidence as described in a controlled vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EvidenceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Evidence ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EvidenceTypeType">
    <xs:sequence>
      <xs:element name="EvidenceTypeClassification" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Category to which the Evidence Type belongs.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The categories agreed are left open but could for example specify the layout and content expected for an Evidence. An example could be id cards.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Unambiguous reference to the Evidence Type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EvidenceTypeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to EvidenceType ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LifeEventType">
    <xs:sequence>
      <xs:element name="Type" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links an Event to a controlled vocabulary of event types.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The recommended Controlled vocabulary to be used is the &lt;a href="http://publications.europa.eu/resource/dataset/life-event"&gt;Life Events&lt;/a&gt; Vocabulary maintained by the Publications Office of the EU.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LifeEventRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LifeEvent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text Description of the Output.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Output.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Language" type="LinguisticSystemType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The language(s) in which the Output is available. </xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This could be one or multiple languages, for instance in countries with more than one official language. The recommended controlled vocabularies for this property is the &lt;a href=" https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/language"&gt;Language&lt;/a&gt; Authority Table of the Publications Office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The official Name of the Output.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The type of Output as defined in a controlled vocabulary.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Possible values of Output types are: Declaration, Physical object, Code, Financial obligation, Financial benefit, Recognition, Permit.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OutputRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Output ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ParticipationType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A textual explanation of the Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasParticipant" type="AgentType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Agent involved in the Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The unambiguous structured reference for the Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Role" type="conceptType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The function of an Agent within a Participation.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This should be provided using a controlled vocabulary.
Since this is an extension mechanism for the CSPV-AP, the controlled vocabulary should be decided to suit local implementations.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ParticipationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Participation ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PublicOrganizationType">
    <xs:sequence>
      <xs:element name="PreferredLabel" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A preferred label is used to provide the primary, legally recognised name of the Public Organization, as defined in the ORG Ontology.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Refers to the official or legal name of a Public Organization. An organization may only have one such name in any given language. Primary names may be provided in multiple languages with multiple instances of the preferred label property. This allowed in SKOS for skos:prefLabel, see &lt;a href="https://www.w3.org/TR/skos-reference/#L1567"&gt;integrity conditions and subsequent example&lt;/a&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Spatial" type="AdministrativeTerritorialUnitType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links an Organization to the Administrative Region(s) that it covers.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The value of the properly should be the URI of the region as defined in an authoritative list of regions. In Europe, this is likely to be the Administrative Territorial Units Named Authority List maintained by the Publications Office's Metadata Registry.
&lt;br/&gt;&lt;br/&gt;
The ATU list does not include a geometry. That is, the territory is only identified by its name not its spatial coordinates. This is likely to be the case for similar lists. If geometries are available for the Public Organization's territory, they can be linked from the territorial unit using the Core Location Vocabulary's locn:geometry property.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PublicOrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PublicOrganization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RequirementType">
    <xs:sequence>
      <xs:element name="Fulfils" type="RuleType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Rules that the requirements fulfils.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasSupportingEvidence" type="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Evidence that supplies information, proof or support for the Requirement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Unambiguous reference to a Requirement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Name of the Requirement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Category to which the Requirement belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RequirementRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Requirement ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ServiceConcessionContractType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text description of the Service Concession Contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EstablishedUnder" type="LegalResourceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Service Concession Contract to relevant legislation or policy documents i.e.
the Legal Resource under which the Service Concession Contracts are being defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasContractingAuthority" type="PublicOrganizationType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Service Concession Contract with the Contracting Authority which is ultimately responsible for a public service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasEconomicOperator" type="OrganizationType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Service Concession Contract with the Economic Operator in charge for the provision and the management of public services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Service Concession Contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Name of the Service Concession Contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ServiceConcessionContractRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ServiceConcessionContract ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DurationType">
    <xs:sequence/>
    <xs:attribute name="DurationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Duration ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LinguisticSystemType">
    <xs:sequence/>
    <xs:attribute name="LinguisticSystemRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LinguisticSystem ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PublicServiceType">
    <xs:sequence>
      <xs:element name="Addressee" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The target recipient of the Public Service.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Examples are citizens, business, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactPoint" type="ContactPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The main contact information of the resource.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Note that the contact information should be relevant to the Public Service which may not be the same as contact information for the Competent Authority or any Participant.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text Description of the Public Service.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The description is likely to be the text that potential users of the Public Service see in any public service catalogue. Public administrations are encouraged to include a reasonable level of detail in the description, for instance including basic eligibility requirements for the particular Public Service and contact information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Follows" type="RuleType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Public Service to the Rule(s) under which it operates.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The definition of the Rule class is very broad. In a typical case, the competent authority that provides the public service will also define the rules that will implement its own policies. The CPSV-AP is flexible to allow for significant variation in such a scenario.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FunctionsOfGovernment" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The purpose of a government activity, which the public service is intended for.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The possible values for this property are described in the controlled vocabulary &lt;a href=" https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/main-activity"&gt;COFOG main activity&lt;/a&gt; Authority Table of the Publications Office. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasChannel" type="ChannelType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links the Public Service to any Channel through which an Agent provides, uses or otherwise interacts with the Public Service, such as an online service, phone number or office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasCompetentAuthority" type="PublicOrganizationType" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Public Service to a Public Organization, which is the responsible Agent for the delivery of the Public Service.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Whether the particular Public Organization provides the public service directly or outsources it is not relevant. The Public Organization that is the Competent Authority of the service is the one that is ultimately responsible for managing and providing the public service. The term Competent Authority is defined in the Services Directive (2006/123/EC) in the following way: "Any body or authority which has a supervisory or regulatory role in a Member State in relation to service activities, including, in particular, administrative authorities, including courts acting as such, professional bodies, and those professional associations or other professional organisations which, in the exercise of their legal autonomy, regulate in a collective manner access to service activities or the exercise thereof".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasCost" type="CostType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It indicates the costs related to the execution of a Public Service for the citizen or business related to the execution of the particular Public Service.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Where the cost varies depending on the channel through which the service is accessed, it can be linked to the channel using the If Accessed Through relationship.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasInput" type="EvidenceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Public Service to one or more instances of the Evidence class.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">A specific Public Service may require the presence of certain pieces of Evidence in order to be delivered. If the evidence required to make use of a service varies according to the channel through which it is accessed, then Has Input should be at the level of the Channel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasInputType" type="EvidenceTypeType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Public Service to one or more instances of the EvidenceType class. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasLegalResource" type="LegalResourceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It indicates the Legal Resource (e.g. legislation) to which the Public Service relates, operates or has its legal basis.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasParticipation" type="ParticipationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The way how a resource is organized.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The Participation class facilitates the detailed description of how an Agent participates in or interacts with a Public Service and may include temporal and spatial information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HoldsRequirement" type="RequirementType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Public Service to a class that describes the Requirement.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Usage: It describes the needing or using the service, such as residency in a given location, being over a certain age etc. The Requirement class is defined in the Core Criterion and Core Evidence Vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A formally-issued Identifier for the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsClassifiedBy" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It allows to classify the Public Service with any Concept other than those already foreseen and defined explicitly in  the CPSV-AP (Thematic Area, Sector, etc.).</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">It is a generic property which can be further specialised to make the classification explicit, for instance for classifying public services according level of digitisation,
type of audience, etc. The Concept is at its turn related to a Collection, which groups the different concepts into a controlled vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsGroupedBy" type="EventType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links the Public Service to the Event class.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Several Public Services may be associated with a particular Event and, likewise, the same Public Service may be associated with several different Events.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPartOf" type="DatasetType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A related resource in which the described resource is physically or logically included.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">It links a Public Service to the Dataset(s) in which it is being described.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Keyword" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A keyword, term or phrase to describe the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Language" type="LinguisticSystemType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The language(s) in which the Public Service is available.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This could be one language or multiple languages, for instance in countries with more than one official language.

The recommended controlled vocabularies for this property is the &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/language"&gt;Language&lt;/a&gt; Authority Table of the Publications Office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The official Name of the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingTime" type="xs:duration" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The (estimated) time needed for executing a Public Service. The actual information is provided using the ISO8601 syntax for durations. </xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Some examples are provided below:
Duration Syntax - Syntax
5 years - P5Y
1 month - P1M
3 days - P3D
2 days 4 hours - P2DT4H

Durations begin with an uppercase P followed by the number and the relevant designator, formally: P[n]Y[n]M[n]DT[n]H[n]M[n]S, where Y is for years, M for months etc. 

Note that days and times are separated by an uppercase T which also
disambiguates M as meaning month (P2M means 2 months) or minute (PT2M means 2 minutes). Durations may also be defined as a number of weeks so P4W means 4 weeks. A full explanation is provided in the &lt;a href="https://en.wikipedia.org/wiki/ISO_8601#Durations"&gt;Wikipedia page&lt;/a&gt; that references the official &lt;a href="https://www.iso.org/standard/40874.html"&gt;ISO standard&lt;/a&gt;.

This approach is consistent with both schema.org and the W3C OWL Time Ontology.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Produces" type="OutputType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Public Service to one or more instances of the Output class, describing the actual result of executing a given Public Service.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Outputs can be any resource, for instance a document, artefact or anything else being produced as a result of executing the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelatedService" type="PublicServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A Public Service related to the particular instance of the Public Service class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Requires" type="PublicServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The way a Public Service makes use of other Public Services.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">One Public Service may require, or in some way make use of, the output of one or several other Public Services. In this case, for a Public Service to be executed, another Public Service must be executed beforehand. The nature of the requirement will be described in the associated Rule or Evidence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sector" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The industry or sector a Public Service relates to, or is intended for.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For example: environment, safety, housing. Note that a single Public Service may relate to multiple sectors. The possible values for this property are provided as a controlled vocabulary. The possible values for this property are described in the controlled vocabulary &lt;a href=" https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/data-theme"&gt;Data theme&lt;/a&gt; Authority Table of the Publications Office. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Spatial" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A Public Service is likely to be available only within a given area, typically the area covered by a particular public authority.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">A common usage of the spatial property will be to define the Administrative Territorial Unit(s) - typically a country or region - in which a Public Service is available. The Publications Office of the European Union offers &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/atu"&gt;a URI set&lt;/a&gt; that is suitable for this purpose. In case the ATU code list is not suitable, &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/nuts"&gt;NUTS&lt;/a&gt; or &lt;a href="https://ec.europa.eu/eurostat/web/nuts/local-administrative-units"&gt;LAU&lt;/a&gt;, &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/place"&gt;NAL Place&lt;/a&gt; or &lt;a href="http://www.geonames.org"&gt;Geonames&lt;/a&gt; are recommended to use, in that order. If those are still not sufficient, we recommend to define your own code list.

N.B. The spatial restriction is not meant to be used to describe eligibility or the speed of operation of the service. These aspects will be covered by the Criterion class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="conceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It indicates whether a Public Service is active, inactive, under development etc. according to a controlled vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ThematicArea" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Thematic Area of a Public Service.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For example: social protection, health, recreation, culture and religion, family, traveling economic affairs, tax, staff, environment, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PublicServiceRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PublicService ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RuleType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free text Description of the Rule.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Rule.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Implements" type="LegalResourceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It links a Rule to relevant legislation or policy documents i.e.
the Legal Resource under which the Rules are being defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Language" type="LinguisticSystemType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The language(s) in which the Rule is available.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This could be one or multiple languages, for instance in countries with more than one official language. The recommended controlled vocabularies for this property is the &lt;a href=" https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/language"&gt;Language&lt;/a&gt; Authority Table of the Publications Office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Name of the Rule.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="conceptType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Type of Rule.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">For example: a rule for non-disclosure of a dataset, a rule for disclosure of a dataset, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RuleRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Rule ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CollectionType">
    <xs:sequence>
      <xs:element name="Member" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">It indicates the Concepts that are part of the Collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CollectionRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Collection ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:sequence/>
    <xs:attribute name="ConceptRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Concept ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TemporalEntityType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A  textual representation of the Temporal Entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Frequency" type="conceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The recurrence of an instant or period.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">It is recommended to use the frequency from an existing vocabulary like the &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/frequency"&gt;Frequency&lt;/a&gt; from the Publications Office.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="TemporalEntityRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TemporalEntity ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DatasetType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A free-text account of the Dataset. This property can be repeated for parallel language versions of the description.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasPart" type="PublicServiceType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A related resource that is included either physically or logically in the described resource.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">It links a Dataset to the Public Service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The main identifier for the Dataset, e.g. the URI or other unique identifier in the context of the Catalogue.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LandingPage" type="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A web page that provides access to the Dataset, its Distributions and/or additional information.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">It is intended to point to a landing page at the original data provider, not to a page on a site of a third party, such as an aggregator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Publisher" type="AgentType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The Publisher of the Dataset, i.e. an entity  (organisation) responsible for making the Dataset available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Title" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A name given to the Dataset.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This property can be repeated for parallel language versions of the name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="DatasetRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Dataset ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="AddressArea" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of a geographic area that groups Addresses.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">This would typically be part of a city, a neighbourhood or village, e.g. Montmartre. Address area is not an administrative unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressId" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A globally unique identifier for each instance of an Address.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The concept of adding a globally unique identifier for each instance of an address is a crucial part of the INSPIRE data spec. A number of EU countries have already implemented an ID (a UUID) in their Address Register/gazetteer, among them Denmark. OASIS xAL also includes an address identifier. It is the address Identifier that allows an address to be represented in a format other than INSPIRE whilst remaining conformant to the Core Vocabulary.
&lt;br/&gt;&lt;br/&gt;
The INSPIRE method of representing addresses is very detailed, designed primarily for use in databases of addresses. Whilst data that is published in full conformance with the INSPIRE data structure can be made available using the Core  Location Vocabulary the reverse is not true since the Core Vocabulary allows much greater flexibility.
&lt;br/&gt;&lt;br/&gt;
Many datasets that include address data as one piece of information about something else are likely to have that data in simpler formats. These might be tailored to the specific need of the dataset, follow a national norm, or make use of a standard like vCard.
&lt;br/&gt;&lt;br/&gt;
To provide maximum flexibility in the Core Vocabulary, whilst remaining interoperable with INSPIRE Address Guidelines (which EU Member States are obliged to use), the Core Location  Vocabulary provides the extra property of full address and makes use of INSPIRE's addressID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrativeUnitLevel1" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of the uppermost level of the address, almost always a country.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Best practice is to use the ISO 3166-1 code but if this is inappropriate for the context, country names should be provided in a consistent manner to reduce ambiguity. For example, either write 'France' or 'FRA' consistently throughout the dataset and avoid mixing the two. The &lt;a href="https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/country"&gt;Country controlled vocabulary&lt;/a&gt; from the Publications Office can be reused for this.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrativeUnitLevel2" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of a secondary level/region of the address, usually a county, state or other such area that typically encompasses several localities.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Values could be a region or province, more granular than level 1.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddress" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The complete address written as a string.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Use of this property is not recommended as it will suffer any misunderstandings that might arise through the breaking up of an address into its component parts. This property is analogous to vCard's label property but with two important differences: (1) formatting is not assumed so that, unlike vCard label, it may not be suitable to print this on an address label, (2) vCard's label property has a domain of vCard Address; the fullAddress property has no such restriction. An example of a full address is "Champ de Mars, 5 Avenue Anatole France, 75007 Paris, France".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocatorDesignator" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A number or sequence of characters that uniquely identifies the locator within the relevant scope.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">In simpler terms, this is the building number, apartment number, etc. For an address such as "Flat 3, 17 Bridge Street", the locator is "flat 3, 17".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocatorName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">Proper noun(s) applied to the real world entity identified by the locator.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The locator name could be the name of the property or complex, of the building or part of the building, or it could be the name of a room inside a building.
&lt;br/&gt;&lt;br/&gt;
The key difference between a locator and a locator name is that the latter is a proper name and is unlikely to include digits. For example, "Shumann, Berlaymont" is a meeting room within the European Commission headquarters for which locator name is more appropriate than locator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostOfficeBox" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A location designator for a postal delivery point at a post office, usually a number.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">INSPIRE's name for this is "postalDeliveryIdentifier" for which it uses the locator designator property with a type attribute of that name. This vocabulary separates out the Post Office Box for greater independence of technology. An example post office box number is "9383".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The code created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Post codes are common elements in many countries' postal address systems. One of the many post codes of Paris is for example "75000".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">A name created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">Usually a city, for example "Paris".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Thoroughfare" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The name of a passage or way through from one location to another.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">A thoroughfare is usually a street, but it might be a waterway or some other feature. For example, "Avenue des Champs-lyses".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AddressRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Address ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:sequence/>
    <xs:attribute name="OrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Organization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="Address" type="AddressType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Address related to an Agent. Asserting the address relationship implies that the Agent has an Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identifier" type="xs:string" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">An Identifier for the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The noun given to the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Participates" type="ParticipationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en" source="#definition">The participation in which an Agent is involved.</xs:documentation>
          <xs:documentation xml:lang="en" source="#usage">The Participation class facilitates the detailed description of how an Agent participates in or interacts with a Public Service and may include temporal and spatial information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>